{sub_dirs, [
    "rel",
    "apps/netspire"
]}.

{lib_dirs, ["deps"]}.

{erl_opts, [
    debug_info,
    warn_obsolete_guards,
    warn_unused_vars,
    warn_unused_import
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{xref_checks, [undefined_function_calls]}.

{deps, [
    {couchbeam, ".*", {git, "https://github.com/benoitc/couchbeam.git", "HEAD"}}
]}.
