%%%
%%% Netspire sample configuration file
%%%

%% The list of the directories where additional modules are located
{code_path, []}.

%% Services
{services, [
    {netspire_netflow, [
        {name, nc1},
        {listen, {"0.0.0.0", 9999}}
    ]},

    {netspire_netflow, [
        {name, nc2},
        {listen, {"0.0.0.0", 9998}}
    ]},

    %% RADIUS service
    {netspire_radius, [
        {listen, [
            {auth, {inet, "0.0.0.0", 1812}},
            {acct, {inet, "0.0.0.0", 1813}}
        ]},

        %% Service bindings
        {auth, [
            %% The list of NAS'es that will be allowed to send
            %% requests to this RADIUS listener
            {client, {pptpd1, "127.0.0.1", "testing123"}},
            {client, {pptpd2, "10.10.0.1", "testing123"}}

            %% Other options defined here will be passed to
            %% backend, so custom implementations can handle
            %% them their own way
        ]},

        {acct, [
            {client, {pptpd1, "127.0.0.1", "testing123"}},
            {client, {pptpd2, "10.10.0.1", "testing123"}}
        ]}
    ]}
]}.

%% Dynamic modules
{modules, [
]}.
