%%%
%%% Netspire sample configuration file
%%%

%% The list of the directories where additional modules are located
{code_path, []}.

%% Services
{services, [
    {netspire_netflow, [
        {name, nc1},
        {listen, {"0.0.0.0", 9999}}
    ]},

    {netspire_netflow, [
        {name, nc2},
        {listen, {"0.0.0.0", 9998}}
    ]}
]}.

%% Dynamic modules
{modules, [
]}.
